# python
.idea/
__pycache__/
*/migrations/00*.py


# Django stuff:
website/settings.py
db.sqlite3

# Environments
venv/

# static
media/uploads
static/bootstrap.min.css
static/bootstrap.min.js
static/jquery-3.3.1.min.js
