{% extends 'blog/basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-md-8">
            {% for article in context.object_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% for tag in article.label.all %}
                        <span class="label label-info" style="margin-right: 5px">
                            <a href="{% url 'category' tag.slug %}" style="color: white">{{ tag }}</a>
                        </span>
                        {% endfor %}
                        <h3><a href="{% url 'article' article.pk %}" style="font-weight: bold">{{ article.title }}</a></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>{{ article.content|striptags|truncatechars:300 }}</p>
                </div>
                <div class="panel-footer">
                    <a class="btn" href="{% url 'article' article.pk %}">阅读全文 »</a>
                    <span class="btn pull-right">浏览量：{{ article.view }}</span>
                </div>
            </div>
            {% endfor %}
            {% include 'blog/pagination.html' %}
        </div>
        <div class="col-md-4">
            {% include 'blog/hot_news.html' %}
            {% include 'blog/label_cloud.html' %}
            <div style="display: none;" id="rocket-to-top">
                <div style="opacity:0; display: block;" class="level-2"></div>
                <div class="level-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/rocket.css' %}" />
<style>
    div.affix {
        top: 20px;
    }
</style>
{% endblock %}
{% block JS %}
<script src="{% static 'blog/js/rocket.js' %}"></script>
<script src="{% static 'blog/js/tags_cloud.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        try {
            TagCanvas.Start('myCanvas','tags',{
                textColour: '#000000',
                outlineColour: '#ff00ff',
                reverse: false,
                depth: 0.5,
                maxSpeed: 0.05
          });
        } catch(e) {
            // something went wrong, hide the canvas container
            document.getElementById('panel_tags').style.display = 'none';
        }
    };
</script>
{% endblock %}
